@charset "UTF-8";
/* Main File */
/* Base */
/* Reseteo inicial */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

/* dar color y fuente a todo el body*/
body {
  font-family: "Montserrat", sans-serif;
  /* fuente a utilizar */
  color: #042B58;
  /* color general de fuente */
}

/* alinear centrados los encabezados h1 y con separación del proximo elemento*/
h1 {
  font-size: 3rem;
  /* dar tamaño al encabezado h1 */
  text-align: center;
  /* alinear centrado el encabezado h1 */
  margin-bottom: 2rem;
  /* separación inferior del encabezado*/
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  h1 {
    font-size: 2rem;
    /* tamaño de fuente encabezado h1 */
  }
}

h2 {
  text-align: left;
  /* alinear centrados los encabezados h2*/
  margin: 1rem 0;
  /* margen superior e inferior de encabezados h2 */
}

/* incrementar el grosor de los textos */
p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  /* tamaño de fuente */
  font-weight: 400;
  /* grosor de la fuente */
  line-height: 1.5em;
  /* interlineado de texto */
}
p a {
  color: #186397;
}
p a:hover {
  color: #042B58;
  /* color del texto al hacer hover en enlaces dentro de tags <p> */
}

/* dar color a los enlaces */
a {
  color: #F0F0F0;
  /* color del texto de los enlaces */
}
a:hover {
  color: #F0F0F0;
  /* color de los enlaces al posicionar el mouse encima */
}
a:active {
  color: #05386B;
  /* color del enlace en el momento de clickear*/
}

address a {
  color: #186397;
}
address a:hover {
  color: #042B58;
  /* color del texto al hacer hover en enlaces dentro de tags <p> */
}

.no-undl {
  text-decoration: none;
  /* quitar el subrayado de enlaces */
}

@media only screen and (max-width: 991px) {
  nav ul li a {
    font-size: 1.3rem;
    /* tamaño de fuente de los enlaces de los items */
  }
}
/* Utilities */
/* posicionamiento de boton de subir */
.up {
  display: none;
  position: fixed;
  /* posiciono boton en el viewport - elemento flotante */
  bottom: 5rem;
  /* lo posiciono abajo */
  right: 1.5rem;
  /* y a la derecha*/
  z-index: 200;
  /* le doy un valor de 200 para que quede por encima de todo*/
}
.up:hover {
  animation: inflate 1s ease-in;
  /* animación al hacer hover sobre boton de subir */
  -moz-animation: inflate 1s ease-in;
  -webkit-animation: inflate 1s ease-in;
  -o-animation: inflate 1s ease-in;
}

@keyframes inflate {
  0% {
    transform: scale(1);
    /* tamaño en escala 1:1*/
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.15);
    /* tamaño en escala 1.15:1 */
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    /* tamaño en escala 1:1*/
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
}
/* Components */
.adoption {
  background-color: #042B58;
  /* color de fondo del banner */
  display: flex;
  /* convertir a flexbox */
  justify-content: space-between;
  /* centrar horizontalmente */
  align-items: center;
  /* centrar verticalmente */
  width: inherit;
  /* ancho igual al padre */
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .adoption {
    flex-direction: column;
    /* arreglo en columnas */
  }
}
.adoption .img-adopt {
  width: 50vw;
  /* ancho de la imagen del banner */
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .adoption .img-adopt {
    width: 100vw;
    /* ancho de la imagen dentro de la columna*/
  }
}
.adoption .text-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}
.adoption .text-banner .t-adop {
  font-family: "Montserrat", sans-serif;
  /* fuente a utilizar */
  color: #F0F0F0;
  /* color de texto de banner */
  font-size: 3rem;
  /* tamaño de fuente del banner */
  margin: 1rem;
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .adoption .text-banner .t-adop {
    font-size: 1.8rem;
    /* tamaño de fuente del banner */
    text-align: center;
    /* alineación centrada del texto en banner */
    padding: 0.3rem;
    /* relleno del p del banner*/
  }
}

/* alineacion de botones adopción */
.h-button {
  color: #F0F0F0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  background-color: #0C97EB;
}
.h-button:hover {
  color: #042B58;
  background-color: #85C6E3;
}

.buttons {
  display: flex;
  /* convertir en flexbox */
  justify-content: space-around;
  /* posicionado de los elementos */
  width: 70vw;
  /* ancho del contenedor de los botones */
  margin: 0 auto;
  /* centrado del contenedor */
}

/* Boton con Metodología BEM */
.button {
  display: inline-block;
  color: #F0F0F0;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  background-color: #042B58;
  text-decoration: none;
  width: 8rem;
  /* darle igual ancho a los botones */
  transition: all 0.5s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  color: #042B58;
  background-color: #85C6E3;
  /* color de fondo al hacer hover sobre el boton */
  transform: scale(1.15);
  /* para aumentar el tamaño sin que me desplace el resto del contenido */
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -o-transform: scale(1.15);
}
.button .button__text {
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .button {
    padding: 1rem 1rem;
    margin: 0.5rem;
  }
}

/* Contenedor boton enviar */
.contact-btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* diseño boton de enviar */
}
.contact-btn .contact-btn__send {
  display: inline-block;
  color: #F0F0F0;
  font-weight: bold;
  padding: 1rem 1.5rem;
  width: fit-content;
  background-color: #042B58;
  border: none;
  text-decoration: none;
  transition: all 0.5s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.contact-btn .contact-btn__send:hover {
  color: #042B58;
  background-color: #85C6E3;
  /* color de fondo al hacer hover sobre el boton */
  transform: scale(1.05);
  /* para aumentar el tamaño sin que me desplace el resto del contenido */
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* enlace de cuenta bancaria */
.button-col {
  color: #042B58;
  font-weight: 500;
}
.button-col:hover {
  color: #0C97EB;
}

/* Contenedor Carousel */
.container-carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  /* ancho del carrousel */
  margin-bottom: 2rem;
  /* margenes automaticos */
}

/* tamaño del carrousel */
.carousel-inner {
  height: auto;
  width: 90vw;
}
.carousel-inner img {
  height: auto;
  width: 90vw;
}

/* Layout */
.cont {
  display: flex;
  /* habilitar flexbox */
  flex-direction: column;
  /* arreglo en columnas */
  margin: 2rem auto;
  /* margenes del contenedor para que quede centrado */
  width: 90%;
  /* ancho del contenedor */
  overflow: hidden;
  /* para evitar que otros elementos ocupen el espacio */
}

.cont-adop {
  display: flex;
  /* habilitar flexbox */
  flex-direction: column;
  /* arreglo en columnas */
  background-color: #042B58;
  /* color de fondo */
  margin: 0 auto;
  /* margenes del contenedor para que quede centrado */
  width: 90%;
  /* ancho del contenedor */
  overflow: hidden;
  /* para evitar que otros elementos ocupen el espacio */
  /* Uppercase en textos */
}
.cont-adop h2 {
  text-align: center;
  color: #F0F0F0;
}
.cont-adop .upper {
  text-transform: uppercase;
  /* dar formato mayuscula al texto */
}

.img-animals {
  min-width: 100%;
  /* ancho de foto */
  height: 50vh;
  /* alto de foto */
  object-fit: cover;
  /* posicionamiento de la foto sin deformarse */
}

/* Tamaño imagenes calendario */
.img-cal {
  width: 100%;
  /* ancho imagen calendario */
  height: 18rem;
  /* altura imagen calendario */
  object-fit: cover;
  /* que la foto se recorte y ocupe todo el espacio sin deformarse*/
  object-position: 0% 20%;
  /* posicionar foto dentro del espacio */
}

.line {
  display: flex;
  /* habilitar flexbox */
  justify-content: space-between;
  /* dar espacios horizontalmente sobre los elementos */
  /* ----- Tablet ----- */
  /* ----- Mobile ----- */
}
@media (max-width: 991px) {
  .line {
    flex-direction: column;
    /* arreglo en columnas */
    justify-content: space-around;
    /* espaciado en ambos lados de elementos */
  }
}
@media (max-width: 576px) {
  .line {
    flex-direction: column;
    /* arreglo en columnas */
    justify-content: center;
    /* centrado vertical en column */
    align-items: center;
    /* centrado horizontal en column*/
    padding: 2vh 1vw;
    /* relleno vertical y horizontal */
  }
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Alinear centrado */
.center {
  display: flex;
  /* habilitar flexbox */
  align-items: center;
  /* alinear verticalmente al centro*/
}

/* Alinear al inicio del contenedor */
.start {
  display: flex;
  /* habilitar flexbox */
  align-items: flex-start;
  /* alinear verticalmente al inicio */
}

.corners {
  border-radius: 1rem;
  /* radio borde del contenedor */
}

/* 3 columnas de Calendario */
.column-cal {
  display: flex;
  /* convertir a flexbox */
  justify-content: space-between;
  /* espaciado horizontal entre elementos */
  margin: 1%;
  /* separación entre columnas*/
  /* Contenedor de cada card con imagen y texto de mes */
  /* ----- Mobile ----- */
}
.column-cal p {
  text-align: center;
  /* centrado de parrafos en elementos de 3 columnas */
}
.column-cal .month-img {
  display: flex;
  /* convertir a flexbox */
  flex-direction: column;
  /* posicionado en columna */
  margin-bottom: 2%;
  /* margen inferior */
  cursor: pointer;
  /* cambiar tamaño de fotos de calendario*/
}
.column-cal .month-img img {
  margin: 0.35rem 0 0 0.35rem;
  /* margenes de las imagenes superior e izquierdo - compensar*/
  max-width: 100%;
  height: auto;
  /* altura automatica para mantener relación de aspecto */
  filter: grayscale(80%);
  transition: all ease 0.7s;
}
.column-cal .month-img img:hover {
  filter: grayscale(0%);
}
@media (max-width: 576px) {
  .column-cal {
    flex-direction: column;
    /* arreglo en columnas */
    justify-content: space-around;
    /* espaciado en ambos lados de los elementos */
    align-items: center;
    /* centrado horizontal en column*/
  }
}

.column-2 {
  width: 48%;
  /* darle ancho del 48% del contenedor sin margin */
  margin: 0.5%;
  /* margin de las columnas */
  /* ----- Tablet y Mobile ----- */
}
.column-2 img {
  max-width: 100%;
  /* ancho máximo de imagenes en contenedor */
}
.column-2 a {
  color: #186397;
}
.column-2 a:hover {
  color: #042B58;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
    /* ancho de la columna */
  }
}
.column-2 p {
  margin-top: 0.5rem;
}

/* Colocar imagenes de colaboración al inicio */
.coll-img-start {
  display: flex;
  justify-content: flex-start;
  /* Colocar imagenes de colaboración al centro */
}
@media (max-width: 991px) {
  .coll-img-start {
    justify-content: center;
  }
}

/* Colocar imagenes de colaboración al final */
.coll-img-end {
  display: flex;
  justify-content: flex-end;
  /* Colocar imagenes de colaboración al centro */
}
@media (max-width: 991px) {
  .coll-img-end {
    justify-content: center;
  }
}

.column-2-adop {
  display: flex;
  /* transformar a flexbox */
  justify-content: center;
  /* centrar los elementos */
  width: 100%;
  /* darle un ancho del 50% del contenedor */
  margin-bottom: 2rem;
  /* separación inferior y centrado*/
}
@media (max-width: 576px) {
  .column-2-adop {
    margin: 2rem 0;
  }
}

.column-2-40 {
  width: 40%;
  /* ancho de columna */
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .column-2-40 {
    width: 100%;
    /* ancho de la columna */
  }
}

.column-2-60 {
  display: flex;
  justify-content: center;
  width: 56%;
  /* ancho de columna */
  align-items: flex-start;
  /* ----- Tablet y Mobile ----- */
}
.column-2-60 img {
  width: 35rem;
  /* ancho de la imagen dentro de la columna*/
}
@media (max-width: 991px) {
  .column-2-60 {
    width: 100%;
    /* ancho de la columna */
  }
  .column-2-60 img {
    width: 100%;
    /* ancho de la imagen dentro de la columna*/
  }
}

/* Bg de contenedores */
.bg-lightblue {
  background-color: #EEF4F8;
  /* color de fondo */
  padding: 2%;
  /* relleno interior */
}

.objective-icon {
  background-color: #0C97EB;
  border-radius: 13px;
  width: 8rem;
}

.objective-heading {
  text-align: center;
}

/*diseño de footer*/
footer {
  color: #F0F0F0;
  /* color del texto */
  background-color: #042B58;
  /* color de fondo del footer */
}
footer .footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0 1rem;
  margin-bottom: 0;
}
footer .footer p:first-child {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
footer .footer .footer__name {
  display: flex;
  flex-direction: column;
}
footer .footer .footer__name ul {
  list-style: none;
  padding: 0;
}
footer .footer .footer__name ul li a {
  text-decoration: none;
}
footer .footer .footer__name ul li a:hover {
  color: #85C6E3;
}
footer .footer .footer__contact {
  display: flex;
  flex-direction: column;
}
footer .footer .footer__contact .email {
  display: flex;
  flex-direction: column;
}
footer .footer .footer__contact .email div {
  display: flex;
  align-items: baseline;
}
footer .footer .footer__contact .email div i {
  margin-right: 0.5rem;
}
footer .footer .footer__contact .email div .email__contact a {
  color: #F0F0F0;
}
footer .footer .footer__contact .email div .email__contact a:hover {
  color: #85C6E3;
}
footer .footer .footer__contact .social {
  display: flex;
  justify-content: flex-start;
}
footer .footer .footer__contact .social a:not(:first-child) {
  padding-left: 1rem;
}
@media (max-width: 576px) {
  footer .footer {
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
  }
}
footer .subfooter {
  border-top: #F0F0F0 solid 1px;
  margin: 0 2rem;
}
footer .subfooter p {
  text-align: center;
  padding: 0.2rem 0;
  margin-bottom: 0;
}

/* Navbar bg color */
.navbar {
  background-color: #042B58;
  min-height: 60px;
}

/* Ocultar logo en Desktop*/
#logo-h {
  display: none;
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  #logo-h {
    display: inline-block;
    /* mostrar logo */
  }
}

/* Navbar text links color*/
.navbar.navbar-expand-lg.navbar-light li a,
.navbar.navbar-expand-lg.navbar-light li button,
.navbar.navbar-expand-lg.navbar-light .dropdown-menu li a {
  color: #F0F0F0;
  /* Para que el color siga siendo blanco mientras navego el submenu */
}
.navbar.navbar-expand-lg.navbar-light li a:hover,
.navbar.navbar-expand-lg.navbar-light li button:hover,
.navbar.navbar-expand-lg.navbar-light .dropdown-menu li a:hover {
  color: #F0F0F0;
  background-color: #0C97EB;
  /* Bg hover color */
}
.navbar.navbar-expand-lg.navbar-light li a:focus,
.navbar.navbar-expand-lg.navbar-light li button:focus,
.navbar.navbar-expand-lg.navbar-light .dropdown-menu li a:focus {
  color: #F0F0F0;
}

/* bg color dropdown menu */
.dropdown-menu {
  background-color: #042B58;
}

/* alineación del split button con el texto */
.btn-group,
.btn-group-vertical {
  align-items: baseline;
}

/* Icon responsive menu */
.navbar-light .navbar-toggler {
  width: 60px;
  height: 60px;
  border-width: 2px;
  border-radius: 20%;
  border-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  /* icono del menú en tablet y mobile */
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("../img/ico/menu.png");
}

/* Posición navbar index */
.navh-center {
  display: flex;
  justify-content: center;
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .navh-center {
    justify-content: flex-start;
  }
}

/*  Posición navbar resto de páginas */
.nav-right {
  display: flex;
  justify-content: flex-end;
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .nav-right {
    justify-content: flex-start;
  }
}

/* para ajustar el contenido a la ventana */
.btn-group,
.btn-group-vertical {
  flex-wrap: wrap;
}

/* para que el boton no se expanda a todo el contenedor */
.btn-group-vertical > .btn,
.btn-group > .btn {
  flex: 0 1 auto;
}

/* Views */
/* Contenedor info de contacto */
.form-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem 2rem 0;
}
.form-row .text-area {
  height: 12vh;
}

.contact {
  display: flex;
  justify-content: center;
}
.contact .contact__items {
  display: flex;
  /* convertir a flexbox */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* centrado verticalmente */
}

/* Disposición de redes sociales en la página */
.sn-row {
  display: flex;
  /* convierto a flexbox */
  justify-content: center;
  /* utilizo centrado */
  margin: 1rem auto;
  /* margen */
  /* ----- Mobile ----- */
}
@media (max-width: 400px) {
  .sn-row {
    margin-top: 2rem;
    /* margen superior de las redes sociales */
  }
}

/* Contenedor localización */
.location {
  display: flex;
  /* convertir a flexbox */
  justify-content: center;
  /* dar separación a los elementos */
  align-items: center;
  /* centrado verticalmente */
  text-align: center;
  width: 90vw;
  /* ancho del elemento */
  margin: 2rem auto;
  /* Margen superior/inferior y centrado horizontalmente*/
}
.location p {
  padding-left: 0.8rem;
  margin-bottom: 0;
  /* quitar margin-bottom que agrega bootstrap */
}

/* Ancho de mapa */
.full-screen {
  width: 100%;
  /* mapa ocupe el ancho del contenedor */
}

.gradient {
  background: linear-gradient(to right, #0C97EB, #186397);
}

/* Centrar logo y nombre del sitio y darle tamaño*/
.cont-home {
  display: flex;
  /* convertir el contenedor en flexbox */
  justify-content: flex-start;
  /* centrar los elementos hijos */
  flex-direction: column;
  /* acomodar en filas los elementos*/
  min-height: calc(100vh - 60px);
  /* altura del contenedor (60px altura Navbar) */
  width: 80vw;
  /* ancho del contenedor*/
  margin: 0 auto;
  /* margenes del contenedor del home */
  align-items: center;
  /* alineacion vertical */
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .cont-home {
    display: flex;
    /* convertir a flexbox */
    min-height: calc(100vh - 76px);
    /* altura del contenedor */
    justify-content: center;
    flex-direction: column;
    /* arreglo en columna */
    align-items: center;
    /* alineación horizontal */
  }
}

/* Contenedor de Logo y Nombre de index*/
.logo {
  display: flex;
  /* convertir a flexbox */
  justify-content: center;
  /* centrar horizontalmente */
  align-items: center;
  /* centrar verticalmente */
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .logo {
    display: flex;
    /* convertir a flexbox */
    flex-direction: column;
    justify-content: center;
    /* centrar verticalmente */
    align-items: center;
    /* centrar horizontalmente */
    margin: 0 auto;
    /* margenes del logo */
  }
}

.item {
  display: flex;
  /* convertir a flexbox */
  justify-content: center;
  /*centrar el contenido */
  margin-top: 15vh;
  /* margen superior */
  width: 80%;
  /* ancho del contenedor */
  z-index: 20;
}
@media (max-width: 991px) {
  .item {
    margin-top: 0;
  }
}

.logo-home {
  width: 20vw;
  /* ancho del logo del home */
  /* ----- Mobile ----- */
}
@media (max-width: 576px) {
  .logo-home {
    width: 50vw;
  }
}

/* configuración título */
.title-home {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #FFF;
  /* color del texto */
  font-size: 5.5rem;
  /* tamaño de fuente */
  margin-bottom: 2rem;
  /* ----- Tablet y Mobile ----- */
}
@media (max-width: 991px) {
  .title-home {
    font-size: 2.5rem;
    /* tamaño de fuente */
  }
}

/* Posición de imagen de footer en inicio*/
.ft-h {
  position: absolute;
  /* posición fija de la imagen de footer del home */
  opacity: 0.7;
  /* opacidad del 0,7 */
  bottom: 0;
  /* posicionado a 0 del fondo */
  width: 40vw;
  /* ancho de la imagen de footer del home */
  height: auto;
  /* altura automatica manteniendo relación de asepcto*/
  margin: 0 auto;
  /* imagen centrada */
  /* ----- Tablet ----- */
  /* ----- Mobile ----- */
}
@media (max-width: 991px) {
  .ft-h {
    width: 50vw;
    /* ancho de imagen de footer de home */
  }
}
@media (max-width: 576px) {
  .ft-h {
    width: 90vw;
    /* ancho de la imagen de footer del home */
  }
}

.adh {
  background-image: url("../img/bg/adopt-home2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  height: 100vh;
  display: flex;
  background-color: #042B58;
}
@media (max-width: 991px) {
  .adh {
    background-image: url("../img/bg/adopt-home.webp");
    height: 80vh;
  }
}
.adh .adh__center {
  align-self: center;
}
.adh .adh__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #F0F0F0;
}
.adh .adh__container h1 {
  text-align: start;
}
.adh .adh__container .adh__title {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  color: #0C97EB;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .adh .adh__container .adh__title {
    font-size: 2.8rem;
  }
}
.adh .adh__container .adh__text {
  color: #F0F0F0;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container .ad-can {
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #0C97EB;
  margin: 2rem 0;
}
@media (max-width: 576px) {
  .container .ad-can {
    font-size: 1.8rem;
  }
}
.container .training {
  /* contenedor de video y texto */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* contenedor de video */
}
@media (max-width: 991px) {
  .container .training {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.container .training .training__text {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 0;
  background-color: #042B58;
  color: #F0F0F0;
  width: 45%;
}
@media (max-width: 991px) {
  .container .training .training__text {
    width: 100%;
  }
}
.container .training .training__container {
  width: 45%;
  /* 56.25% por la relación de aspecto */
}
@media (max-width: 991px) {
  .container .training .training__container {
    width: 100%;
  }
}
.container .training .training__container .training__vidresponsive {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}
.container .training .training__container .training__vidresponsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
