@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gzcp24');
  src:  url('fonts/icomoon.eot?gzcp24#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gzcp24') format('truetype'),
    url('fonts/icomoon.woff?gzcp24') format('woff'),
    url('fonts/icomoon.svg?gzcp24#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vision:before {
  content: "\e904";
  color: #F0F0F0;
}
.icon-objetivo:before {
  content: "\e905";
  color: #F0F0F0;
  font-weight: 500;
}
.icon-pasion:before {
  content: "\e906";
  color: #F0F0F0;
}
.icon-facebook:before {
  content: "\e900";
  font-size: 2rem;
  color: #f0f0f0;
  margin: 0.2rem;
}
.icon-facebook-c:before {
  content: "\e900";
  font-size: 2rem;
  color: #042b58;
  margin: 0.2rem;
}
.icon-instagram:before {
  content: "\e902";
  font-size: 2rem;
  color: #f0f0f0;
  margin: 0.2rem;
}
.icon-instagram-c:before {
  content: "\e902";
  font-size: 2rem;
  color: #042b58;
  margin: 0.2rem;
}
.icon-telegram:before {
  content: "\e903";
  font-size: 2rem;
  color: #f0f0f0;
  margin: 0.2rem;
}
.icon-telegram-c:before {
  content: "\e903";
  font-size: 2rem;
  color: #042b58;
  margin: 0.2rem;
}
.icon-paw-button:before {
  content: "\e901";
  font-size: 2.7rem;
  font-weight: bold;
  color: #042b58;
  float: right;
  padding: 0.5rem;
  background-color: #85c6e3;
  border: 0.1rem solid;
  border-color: #85c6e3;
  border-radius: 15rem;
  box-shadow: 0 0.325rem 0.425rem #01244b ; /* color de la sombra del borde */
}
/* ----------------------- Tablet ----------------------- */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .icon-paw-button:before {
      font-size: 2.2rem;
      padding: 0.2rem;
    }
}
/* ----------------------- Mobile ----------------------- */
@media only screen and (max-width: 400px) {
  .icon-paw-button:before {
    display: none; /* quitar boton de subir en Mobile */
  }
}
