/*diseño de footer*/
footer {
    color: $xLightGray; /* color del texto */
    width: 100%; /* ancho del footer, igual al body */
    padding: 0 2vw;
    height: 15vh; /* alto de la barra  del footer*/
    background-color: $darkBlue; /* color de fondo del footer */
}