@import '../base/colors';

/* alineacion de botones adopción */

.h-button {
    color: $xLightGray;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    background-color: $lightBlue;

    &:hover {
        color: $darkBlue;
        background-color: $bgButtonHover;
    }
}

.buttons {
    display: flex; /* convertir en flexbox */
    justify-content: space-around; /* posicionado de los elementos */
    width: 70vw; /* ancho del contenedor de los botones */
    margin: 0 auto; /* centrado del contenedor */
}

/* Boton con Metodología BEM */
.button {
    display: inline-block;
    color: $xLightGray;
    font-weight: bold;
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    background-color: $darkBlue;
    
    text-decoration: none;
    width: 8rem; /* darle igual ancho a los botones */
    transition: all 0.5s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        @include scale($darkBlue, $bgButtonHover, 1.15)
    }

    .button__text {
        text-transform: uppercase;
    }

    @media (max-width: 576px) {
        padding: 1rem 1rem;
        margin: 0.5rem;
    }
}
/* Contenedor boton enviar */
.contact-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    /* diseño boton de enviar */
    .contact-btn__send {
        display: inline-block;
        color: $xLightGray;
        font-weight: bold;
        padding: 1rem 1.5rem;
        width: fit-content;
        background-color: $darkBlue;
        border: none;
        text-decoration: none;
        transition: all 0.5s ease;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:hover {
            @include scale($darkBlue, $bgButtonHover, 1.05)
        }
    }
}
/* enlace de cuenta bancaria */
.button-col {
    color: $darkBlue;
    font-weight: 500;

    &:hover {
        color: $lightBlue;
    }
}





