/* Contenedor info de contacto */
.form-row {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    padding: 2rem 2rem 0;
  
    .text-area {
      height: 12vh;
    }
}

.contact {
    display: flex;
    justify-content: center;

    .contact__items {
        display: flex; /* convertir a flexbox */
        flex-direction: column;
        justify-content: center;
        align-items: center; /* centrado verticalmente */
    }
}

/* Disposici칩n de redes sociales en la p치gina */
.sn-row {
    display: flex; /* convierto a flexbox */
    justify-content: center; /* utilizo centrado */
    margin: 1rem auto; /* margen */

    /* ----- Mobile ----- */
    @media (max-width: 400px) {
        margin-top: 2rem; /* margen superior de las redes sociales */
    }
}

/* Contenedor localizaci칩n */
.location {
    display: flex; /* convertir a flexbox */
    justify-content: center; /* dar separaci칩n a los elementos */
    align-items: center; /* centrado verticalmente */
    text-align: center;
    width: 90vw; /* ancho del elemento */
    margin: 2rem auto; /* Margen superior/inferior y centrado horizontalmente*/

    p{
        padding-left: .8rem ;
        margin-bottom: 0; /* quitar margin-bottom que agrega bootstrap */
    }
}

/* Ancho de mapa */
.full-screen {
    width: 100%; /* mapa ocupe el ancho del contenedor */
}
