.gradient {
    background: linear-gradient(to right, $lightBlue, $opaqueBlue);
}

/* Centrar logo y nombre del sitio y darle tamaño*/
.cont-home {
    display: flex; /* convertir el contenedor en flexbox */
    justify-content: flex-start; /* centrar los elementos hijos */
    flex-direction: column; /* acomodar en filas los elementos*/
    min-height: calc(100vh - 60px); /* altura del contenedor (60px altura Navbar) */
    width: 80vw; /* ancho del contenedor*/
    margin: 0 auto; /* margenes del contenedor del home */
    align-items: center; /* alineacion vertical */

    /* ----- Tablet y Mobile ----- */
    @media (max-width: 991px) {
        display: flex; /* convertir a flexbox */
        min-height: calc(100vh - 76px); /* altura del contenedor */
        justify-content: center;
        flex-direction: column; /* arreglo en columna */
        align-items: center; /* alineación horizontal */
    }
}

/* Contenedor de Logo y Nombre de index*/
.logo {
    display: flex; /* convertir a flexbox */
    justify-content: center; /* centrar horizontalmente */
    align-items: center; /* centrar verticalmente */

    /* ----- Tablet y Mobile ----- */
    @media (max-width: 991px) {
        display: flex; /* convertir a flexbox */
        flex-direction: column;
        justify-content: center; /* centrar verticalmente */
        align-items:center; /* centrar horizontalmente */
        margin: 0 auto 2rem /* margenes del logo */
    }
}

.item {
    display: flex; /* convertir a flexbox */
    justify-content: center; /*centrar el contenido */
    margin-top: 15vh; /* margen superior */
    width: 80%; /* ancho del contenedor */
    z-index: 20;

    @media (max-width: 991px) {
        margin-top: 0;
    }
}

.logo-home {
    width: 20vw; /* ancho del logo del home */

    /* ----- Mobile ----- */
    @media (max-width: 400px) {
        width: 50vw;
    }
}

/* configuración título */
.title-home {
    color: $white; /* color del texto */
    font-size: 5.5rem; /* tamaño de fuente */
    
    /* ----- Tablet y Mobile ----- */
    @media (max-width: 991px) {
        font-size: 2.5rem; /* tamaño de fuente */
    }
}

/* Posición de imagen de footer en inicio*/
.ft-h {
    position: absolute; /* posición fija de la imagen de footer del home */
    opacity: 0.7; /* opacidad del 0,7 */
    bottom: 0; /* posicionado a 0 del fondo */
    width: 40vw; /* ancho de la imagen de footer del home */
    height: auto; /* altura automatica manteniendo relación de asepcto*/
    margin: 0 auto; /* imagen centrada */
    
    /* ----- Tablet ----- */
    @media (max-width: 991px) {
        width: 50vw; /* ancho de imagen de footer de home */
    }

    /* ----- Mobile ----- */
    @media (max-width: 400px) {
        width: 90vw; /* ancho de la imagen de footer del home */
    }
} 

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .training {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .training__text {
            width: 45%;

            @media (max-width: 991px) {
                width: 100%
            }
        }

        .training__container {
            width: 45%;
            @media (max-width: 991px) {
                width: 100%
            }

            .training__vidresponsive {
                position: relative;
                width: 100%;
                height: 0;
                padding-top: 56.25%;
                overflow: hidden;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}