.gradient {
    background: linear-gradient(to right, $lightBlue, $opaqueBlue);
}

/* Centrar logo y nombre del sitio y darle tamaño*/
.cont-home {
    display: flex; /* convertir el contenedor en flexbox */
    justify-content: center; /* centrar los elementos hijos */
    flex-direction: column; /* acomodar en filas los elementos*/
    height: 70vh; /* altura del contenedor */
    width: 80vw; /* ancho del contenedor*/
    margin: 0 auto; /* margenes del contenedor del home */
    align-items: center; /* alineacion vertical */

    /* ----- Tablet y Mobile ----- */
    @media (max-width: 991px) {
        display: flex; /* convertir a flexbox */
        flex-direction: column; /* arreglo en columna */
        align-items: center; /* alineación horizontal */
        margin-top: 5rem; /* margen superior */
    }
}

/* Contenedor de Logo y Nombre de index*/
.logo {
    display: flex; /* convertir a flexbox */
    justify-content: center; /* centrar horizontalmente */
    align-items:center; /* centrar verticalmente */

    /* ----- Tablet y Mobile ----- */
    @media (max-width: 991px) {
            display: flex; /* convertir a flexbox */
            flex-direction: column;
            justify-content: center; /* centrar verticalmente */
            align-items:center; /* centrar horizontalmente */
            margin: 0 auto 2rem /* margenes del logo */
    }
}


.item {
    display: flex; /* convertir a flexbox */
    justify-content: center; /*centrar el contenido */
    width: 50%; /* ancho del contenedor */
}

.logo-home {
    width: 20vw; /* ancho del logo del home */

    /* ----- Mobile ----- */
    @media (max-width: 400px) {
        width: 50vw;
    }
}

/* configuración título */
.title-home {
    color: $white; /* color del texto */
    font-size: 5.5rem; /* tamaño de fuente */
    
    /* ----- Tablet y Mobile ----- */
    @media (max-width: 991px) {
        font-size: 2.5rem; /* tamaño de fuente */
    }
}

/* Posición de imagen de footer en inicio*/
.ft-h {
    position: fixed; /* posición fija de la imagen de footer del home */
    opacity: 0.7; /* opacidad del 0,7 */
    bottom: 0; /* posicionado a 0 del fondo */
    width: 40vw; /* ancho de la imagen de footer del home */
    height: auto; /* altura automatica manteniendo relación de asepcto*/
    margin: 0 auto; /* imagen centrada */
    z-index: -1; /* posicionado por detras de otros elementos */
    
    /* ----- Tablet ----- */
    @media (max-width: 991px) {
        width: 50vw; /* ancho de imagen de footer de home */
    }

    /* ----- Mobile ----- */
    @media (max-width: 400px) {
        width: 90vw; /* ancho de la imagen de footer del home */
    }
} 
