$darkBlue: #042B58;
$shadow: #01244B;
$activeLink: #05386B;
$opaqueBlue: #186397;
$lightBlue: #0C97EB;
$xLightGray: #F0F0F0;
$transparency4: rgba(255,255,255,0.4);
$transparency1: rgba(255,255,255,0.1);
$white: #FFF;
$bgButtonHover: #85C6E3;
$bgLightColor: #EEF4F8;

